body {
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #f7f9f9;
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  height: 260px;
  width: 940px;
  background-color: #f7f9f9;
  margin: 50px auto;
  position: relative;
  border-radius: 1%;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.sidebar-left {
  height: 100%;
  width: 62%;
  float: left;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  color: #ffffff;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;
}

.sidebar-left-header {
  margin-top: 2em;
}

.sidebar-left-header-title-name {
  margin-bottom: 0.1em;
}

.sidebar-left-content {
  margin-top: 1em;
}

.sidebar-right {
  float: right;
  margin: 0 auto;
  padding: 30px 70px 50px 50px;
}

.myself {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: 0.5s;
  animation: animation-photo-myself 2s linear;
}

.myself:hover {
  width: 210px;
  height: 210px;
  opacity: 0.7;
}

.copyright {
  font-size: 15px;
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.social-icons {
  list-style: none;
  margin: 30px auto;
}

.social-icons a {
  text-decoration: none;
  color: #ffffff;
}

.social-icons li {
  display: inline;
  padding: 0 1em;
}

.nav-personal-informations li {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: #d4d4d4;
  border-radius: 50%;
  text-indent: -9999px;
  margin-bottom: 10px;
}

.nav-personal-informations a {
  display: block;
}

.nav-personal-informations li:hover {
  background-color: #a5a5a5;
}

.list-personal-information-item {
  display: none;
  height: 250px;
  width: 940px;
  margin: auto;
}

.list-personal-information-item:target {
  display: block;
}

.personal-information-about-me {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1%;
}

.self-description {
  text-indent: 30px;
  text-align: justify;
  margin: 0 0 40px 0;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  transition: 1s all;
}

.btn:hover {
  background-color: #1e90ff;
}

@keyframes animation-photo-myself {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  25% {
    opacity: 0.2;
    width: 50px;
    height: 50px;
  }
  50% {
    opacity: 0.5;
    width: 100px;
    height: 100px;
  }
  75% {
    opacity: 0.7;
    width: 150px;
    height: 150px;
  }
  100% {
    opacity: 1;
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 480px), (max-width: 900px) {
  .content {
    width: 100%;
    height: 40%;
  }

  .sidebar-left-header-title-name {
    text-align: center;
  }

  .sidebar-left-header-profession {
    text-align: center;
  }

  .sidebar-left-content p,
  address {
    display: none;
  }

  .sidebar-right {
    width: 100%;
    padding: 0px;
    margin: 20px 0px;
    text-align: center;
  }

  .myself {
    width: 50%;
    height: 30%;
    animation: none;
    transition: none;
  }

  .sidebar-left {
    width: 100%;
    padding: 0px;
  }

  .list-personal-information-item {
    width: 100%;
    height: 20%;
  }

  .btn {
    padding: 12px 5px;
    margin: 0 20px;
  }
}
